# Clean Reddit Text Data

In [1]:
import disinfo as di
from disinfo import topicAnalysis

import pandas as pd
import itertools

# Read test data 
submissions = pd.read_csv("../test_data/example_subs.csv")

topic_a = topicAnalysis(submissions)

In [2]:
words = topic_a.lemmas

merged = list(itertools.chain(*words))

In [18]:
def count_words(words):
    counts = dict()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [37]:
word_count = count_words(merged)

word_count_ordered = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

word_count_dataframe = pd.DataFrame(word_count_ordered)

                                       0     1
0                                  Trump  4277
1                                  trump  3596
2                                         2674
3                            coronavirus  1917
4                                 people  1469
...                                  ...   ...
36564                              Leery     1
36565  Flyers](https://www.bloomberg.com     1
36566                          fees?srnd     1
36567      Out.](https://www.barrons.com     1
36568                out-51598911239?mod     1

[36569 rows x 2 columns]