In [5]:
import pandas as pd
import pandas_gbq
import praw
import numpy as np
from prawcore import PrawcoreException
import datetime
import json
import disinfo as di

In [6]:
with open("../gcp_config.json") as f:
    config = json.load(f)

project_id = config["project_id"]
table_sub  = config["table_sub"]
table_com  = config["table_com"]

comments_number = config["comments_number"]
topics_list = config["topics_list"]

client_id = config["client_id"]
client_secret = config["client_secret"]
user_agent =  config["user_agent"]

In [7]:
SQL = f'SELECT * FROM {table_sub}'

df = pandas_gbq.read_gbq(query=SQL, project_id=project_id)

Downloading: 100%|██████████| 55321/55321 [00:12<00:00, 4449.10rows/s]

In [20]:
df['created'] = df['created'].dt.date

In [141]:

posts_per_day = {"day": [],
                 "subreddit": [],
                 "count": [] }

In [142]:
subs = df["subreddit"].unique()

for sub in subs:
    sub_filter = df[df['subreddit'] == sub ]
    days = sub_filter['created'].unique()
    for i in days:
        subs_per_day = sub_filter[sub_filter['created'] == i ]
        subs_per_day_count = subs_per_day.shape[0]
        posts_per_day["count"].append(subs_per_day_count)
        posts_per_day["day"].append(i)
        posts_per_day["subreddit"].append(i)

In [143]:
data = pd.DataFrame(posts_per_day)
data

             day   subreddit  count
0     2020-07-11  2020-07-11     12
1     2020-07-10  2020-07-10     10
2     2020-07-09  2020-07-09     16
3     2020-06-30  2020-06-30     10
4     2020-07-05  2020-07-05      6
...          ...         ...    ...
6278  2020-03-20  2020-03-20      3
6279  2020-03-19  2020-03-19      1
6280  2020-03-18  2020-03-18      1
6281  2020-03-17  2020-03-17      2
6282  2020-06-23  2020-06-23      1

[6283 rows x 3 columns]

,day,subreddit,count
0,2020-07-11,...,12
1,2020-07-10,...,10
2,2020-07-09,...,16
3,2020-06-30,...,10
4,2020-07-05,...,6
...,...,...,...
6278,2020-03-20,...,3
6279,2020-03-19,...,1
6280,2020-03-18,...,1
6281,2020-03-17,...,2
6282,2020-06-23,title score id \ 6240 Shi...,1

{'day': [], 'subreddit': [], 'count': []}

In [138]:
df['subreddit'][0]

'skeptic'